{
    "env": {
      "target": {
        "node": 20
      }
    },
    "jsc": {
      "parser": {
         "syntax": "typescript"
      },
      "baseUrl": "."
    },
    "module": {
      "type": "commonjs"
    },
    "sourceMaps": "inline"
}